<app-default-login-layout
    txt="Recuperar senha"
    primaryBtnText="Enviar"
    secondaryBtnText="Entrar agora"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!recoverForm.valid"
>
    <form [formGroup]="recoverForm">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="email@email.com"
        >
            <img src="/assets/img/email-icon.svg"/>
        </app-primary-input>
    </form>
</app-default-login-layout>